<!doctype html>

<head>
    <meta charset="UTF-8">

    <style type="text/css">
       div.stlviewer { height: 1000px; }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <link href="{{url_for('static', filename = 'styles.css')}}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script type=text/javascript> 
	window.onload=function() {
		STLViewerEnable("stlviewer");
	 } 
    </script>
    <script src="{{url_for('static', filename = '/three.js/build/three.min.js')}}"></script>
    <script src="{{url_for('static', filename = '/three.js/examples/js/WebGL.js')}}"></script>
    <script src="{{url_for('static', filename = '/three.js/examples/js/loaders/STLLoader.js')}}"></script>
    <script src="{{url_for('static', filename = '/three.js/examples/js/controls/OrbitControls.js')}}"></script>
    <script src="{{url_for('static', filename = 'canvas.js')}}"></script>

    <title>Quebra-Cabeça Voronoi</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}">
</head>

<body>
    <nav>
        <ul class="header-menu">
            <li class="header-item"><a class="header-link" href="">início</a></li>
            <li class="header-item"><a class="header-link" href="#voronoi">o que é voronoi?</a></li>
            <li class="header-item"><a class="header-link" href="#gabarito">nosso quebra-cabeça</a></li>
            <li class="header-item"><a class="header-link" href="#about">sobre nós</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1 id="voronoi"> Quebra-Cabeça Voronoi </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam neque vel libero fringilla, ut cursus justo tincidunt. Suspendisse eget neque iaculis, maximus magna sit amet, egestas nunc. Sed sollicitudin quis massa et porttitor. In augue ligula, lacinia non sagittis sed, auctor sed purus. Nunc imperdiet semper sapien a tincidunt. Sed sed purus a risus scelerisque dignissim nec mattis massa. Aliquam eu felis non elit posuere tempus. Suspendisse dictum lacinia metus vel vulputate. Nam semper nunc faucibus ipsum luctus luctus. Vivamus eu augue id nulla blandit imperdiet sed et erat. Fusce porttitor accumsan mi, sed pulvinar mi placerat ac. Praesent viverra interdum facilisis. Mauris quis iaculis erat, eu sagittis leo.</p>
        <div class=stlviewer data-src="{{ url_for('static', filename='gabaritofinal.stl') }}"></div>
    </div>

    <div class="content">
        <h1 id="gabarito"> Gabarito </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam neque vel libero fringilla, ut cursus justo tincidunt. Suspendisse eget neque iaculis, maximus magna sit amet, egestas nunc. Sed sollicitudin quis massa et porttitor. In augue ligula, lacinia non sagittis sed, auctor sed purus. Nunc imperdiet semper sapien a tincidunt. Sed sed purus a risus scelerisque dignissim nec mattis massa. Aliquam eu felis non elit posuere tempus. Suspendisse dictum lacinia metus vel vulputate. Nam semper nunc faucibus ipsum luctus luctus. Vivamus eu augue id nulla blandit imperdiet sed et erat. Fusce porttitor accumsan mi, sed pulvinar mi placerat ac. Praesent viverra interdum facilisis. Mauris quis iaculis erat, eu sagittis leo.</p>
    </div>

    <div class="content">
        <h1 id="about"> Sobre nós </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam neque vel libero fringilla, ut cursus justo tincidunt. Suspendisse eget neque iaculis, maximus magna sit amet, egestas nunc. Sed sollicitudin quis massa et porttitor. In augue ligula, lacinia non sagittis sed, auctor sed purus. Nunc imperdiet semper sapien a tincidunt. Sed sed purus a risus scelerisque dignissim nec mattis massa. Aliquam eu felis non elit posuere tempus. Suspendisse dictum lacinia metus vel vulputate. Nam semper nunc faucibus ipsum luctus luctus. Vivamus eu augue id nulla blandit imperdiet sed et erat. Fusce porttitor accumsan mi, sed pulvinar mi placerat ac. Praesent viverra interdum facilisis. Mauris quis iaculis erat, eu sagittis leo.</p>
    </div>
</body>
