<!doctype html>

<head>
    <meta charset="UTF-8">

    <style type="text/css">
       div.stlviewer { height: 1000px; }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <link href="{{url_for('static', filename = 'styles.css')}}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script type=text/javascript> 
	window.onload=function() {
		STLViewerEnable("stlviewer");
	 } 
    </script>
    <script src="{{url_for('static', filename = '/three.js/build/three.min.js')}}"></script>
    <script src="{{url_for('static', filename = '/three.js/examples/js/loaders/STLLoader.js')}}"></script>
    <script src="{{url_for('static', filename = '/three.js/examples/js/controls/OrbitControls.js')}}"></script>
    <script src="{{url_for('static', filename = 'canvas.js')}}"></script>

    <title>Cubo Voronoi</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
</head>

<body>
    <nav>
        <ul class="header-menu">
            <li class="header-item"><a class="header-link" href="">O que é Voronoi?</a></li>
            <li class="header-item"><a class="header-link" href="#gabarito">Solução</a></li>
            <li class="header-item"><a class="header-link" href="#about">Sobre Nós</a></li>
        </ul>
        <hr>
    </nav>


    <div class="content">
        <h1 id="voronoi"> O Que É O Voronoi? </h1>
        <p>Os <b>diagramas de Voronoi</b>, ou como também são conhecidos polígonos de Thiessen, foram desenvolvidos pelo matemático russo Georgy Fedoseevich Voronoy em 1907. Tal regra matemática estabelece um conjunto associado de regiões em torno de pontos no plano euclidiano, em que elas delimitam os locais mais próximos de um dos pontos do que de qualquer outro ponto.</p>
        <p>A animação abaixo representa uma <b>tesselação de Voronoi</b> emergindo de um crescimento radial a partir de um conjunto de pontos:</p>
        <img class="gif" src="{{ url_for('static', filename='img/voronoi_growth_euclidean.gif') }}" alt="Animação gerando um diagrama de Voronoi">
        <p>Note que cada região termina quando se encontra com a sua vizinha e, como a velocidade dos crescimentos radiais é a mesma, as bordas das regiões definem segmentos de reta <b>equidistantes</b> aos pontos que as geram.</p>
        <p>Uma forma intuitiva de <b>construir um diagrama de Voronoi a partir de uma coleção de pontos</b>, é traçar arestas entre os pontos de modo a gerar uma triangulação, encontrar os circuncentros dos triângulos gerados e utilizá-los como vértices do diagrama. As retas que determinam os circuncentros definem as arestas do Voronoi. A animação abaixo reproduz esse algoritmo: </p>
        <img class="gif" src="{{ url_for('static', filename='img/triangulation.gif') }}" alt="Animação gerando um diagrama de Voronoi">
        <p>Esse modelo matemático pode ser aplicado em diversas situações, como:</p>
        <ul>
            <li>Estudar a epidemia de cólera na Inglaterra em 1854, traçando uma relação entre as áreas com mais mortes e as áreas do bairro Soho;</li>
            <li>Fazer o diagrama Voronoi de pontos de destino (como hospitais) para saber qual está mais próximo (georreferenciamento), no caso será no ponto central do polígono onde você estiver;</li>
            <li>Pode ser utilizado na representação do volume livre do polímero;</li>
            <li>Para calcular a precipitação de uma área, com base em uma série de medições pontuais, em climatologia;</li>
            <li>Gerar texturas orgânicas em computação gráfica.</li>
        </ul>
        <p>O diagrama de Voronoi pode ser estendido para outras dimensões, de modo que, em sua versão <b>tridimensional</b>, o conjunto de regiões de Voronoi é delimitado por planos.</p>
    </div>

    <div class="content">
        <h1 id="gabarito"> Solução </h1>
        <p>O quebra-cabeças Voronoi, como um <b>cubo de Rubik</b>, mostra o funcionamento da regra matemática em 3D e trabalha com a assimilação de polígonos para sua montagem. O cubo foi modelado no software Rhinoceros com auxílio do plugin Grasshoper, obtendo a formação de 8 pontos internos, que conformam oito peças, onde cada plano que delimita a junção de suas faces é equidistante aos pontos geradores internos.</p>
        <p>A seguir, exibimos um <b>gabarito 3D</b> que facilita a montagem do quebra-cabeças, mostrando o cubo completo e os 8 pontos geradores das peças. Você pode rotacionar o modelo com o mouse ou o touchscreen para visualizar cada face e auxiliar o seu processo de montagem.</p>
        <div class=stlviewer data-src="{{ url_for('static', filename='stl/cubo.stl') }}"></div>
    </div>

    <div class="content">
        <h1 id="about"> Sobre nós </h1>
        <p>O Quebra-Cabeça Voronoi é um projeto desenvolvido durante a disciplina <b>MAP2001 - Matemática, Arquitetura e Design</b>, no primeiro semestre de 2022. A disciplina é ministrada na <b>Universidade de São Paulo (USP)</b> com professores do <b>Instituto de Matemática e Estatística (IME)</b> junto a docentes da <b>Faculdade de Arquitetura e Urbanismo (FAU)</b>.</p>
        <div class="logos">
            <img class="logo" src="{{ url_for('static', filename='img/fau.svg') }}" alt="Logo FAU-USP">
            <img class="logo" src="{{ url_for('static', filename='img/ime.svg') }}" alt="Logo IME-USP">
        </div>
        <p>A proposta é desenvolver, em grupos, um objeto que represente alguma conexão entre Matemática, Arquitetura e Design, revelando uma natureza <b>interdisciplinar</b>. Este projeto foi desenvolvido por três alunos de diferentes institutos:</p>
        <ul>
            <li>Daniela Gonzalez Favero (IME)</li>
            <li>Gabrielle Mendes de Souza Delgado (FAU)</li>
            <li>Guilherme Sanches Ribeiro (FAU)</li>
        </ul>
        <p>As prospecções em grupo levaram ao desenvolvimento de um quebra-cabeça tridimensional que obedece à regra matemática de Voronoi para a delimitação das regiões. Como material complementar, de modo a evidenciar a <b>interação do real com o virtual</b> nos jogos da atualidade, desenvolveu-se um website com informações educativas e a solução do quebra-cabeça.</p>
    </div>

    <footer>
        <img class="foot-logo" src="{{ url_for('static', filename='img/favicon.svg') }}" alt="Logo Cubo Voronoi">
        <p class="foot-text">CUBO VORONOI 2022</p>
        <a class="foot-link" target=”_blank” href="https://github.com/danigfavero/quebra-cabeca-voronoi">Repositório no Github</a>
    </footer>
</body>
